<div class="wrapperproductos">
    <div class="wrapperslider2">
        <div class="tiritas"></div>
        <div class="wraph2">
            <h2>
                <div class="fadeIn">
                  <span>Que desea buscar?</span>
                  <span>Compre online</span>
                  <span>Que desea buscar?</span>
                  <span>Compre online</span>
                  <span>Que desea buscar?</span>
                </div>
              </h2>
        </div>
        
        <ng-image-slider [images]="imageObject"  [infinite]="true" [autoSlide]="1" #nav></ng-image-slider>   
    </div>
</div>

    
