<div class="wrapperproductos">
    <div class="wrapperslider2">
        <div class="tiritas"></div>
        <div class="wraph2">
            
                <div class="fadeIn">
                  <span>Que necesita ?</span>
                  <span>Compre online</span>
                  <span>Que necesita ?</span>
                  <span>Compre online</span>
                  <span>Que necesita?</span>
                </div>
              
        </div>
        
        <ng-image-slider [images]="imageObject"  [infinite]="true" [autoSlide]="1" #nav></ng-image-slider>   
    </div>
</div>

    
