 ng-image-slider{font-weight: 600;font-size: 24px;}
.tiritas{
	border-left: 8px solid #451e89;border-right: 8px solid #451e89;
	 height: 24px;
}
.wrapperproductos{
	margin:0 20px 20px 20px;
	 border-bottom: 8px solid #451e89;
	 
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	 
   } 
.wrapperslider2 .wraph2{
    background-color:#451e89;
	padding: 16px 0px 8px 0px;

}

/* Fade In */
.fadeIn {
	display: inline;padding:10px 0 10px 130px;
	   
}
.fadeIn span {
	font-size: 1.6rem; font-family: 'Indie Flower';
	animation: fadeEffect 12.5s linear infinite 0s;
	color: orangered;font-weight: 600;
	opacity: 0; 
	overflow: hidden;
	position: absolute; z-index: 1111;

	  
}
.fadeIn span:nth-child(2){
	animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
	animation-delay: 5s;
} 
.fadeIn span:nth-child(4){
	animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
	animation-delay: 10s;
}

/* Fade In Animation */
@-moz-keyframes fadeEffect {
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  