@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,300;1,500&display=swap');
a {
    color: white;
    text-decoration: none;
  }

  .tituloapp{
    font-family: 'Indie Flower', cursive;font-weight: 600;}