@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
 
/* Used Google Fonts */
mat-toolbar{background-color:#451e89}

a { color: white;text-decoration: none; }

.icon1{font-size:2.5rem; margin-bottom: 20px; 
  position: relative;right:12px;

      -webkit-animation: skew 3s infinite;
      animation: skew 3s infinite;
-webkit-transform: skew(20deg);
      transform: skew(20deg);
-webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
     
.material-icons{
     margin-right: 1px;
    }
.rojitosolo{color:orangered;}

 
@keyframes skew {
  0% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
  }
  100% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }
}


/*------------------------*/

/* Logo-3 */
.logo-holder{
  position: absolute; z-index: 11;
 transform: translateY(-15px);
 text-align: center;
 margin-left: 4px;
}
.logo-3 h3 { 
  color: orangered;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height:0.4;
}
.logo-3 p {
  font-size: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #34495e;
  font-weight: 400;
  color: #fff;
   display:inline;padding:5px; 
}