@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,300;1,500&display=swap');

mat-toolbar{background-color:#451e89}

a { color: white;text-decoration: none; }

.icon1{font-size:2.5rem; margin-bottom: 20px; 
  position: relative;right:12px;

      -webkit-animation: skew 3s infinite;
      animation: skew 3s infinite;
-webkit-transform: skew(20deg);
      transform: skew(20deg);
-webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
     
.material-icons{
     margin-right: 1px;
    }
.rojitosolo{color:red;}

.violeta .titulo{
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
from {
text-shadow: 
  0 0 20px red, 0 0 30px #e5ca00, 0 0 40px red, 0 0 50px #e5ca00;
}
to {
text-shadow: 0 0 10px #fff30f,
  0 0 20px red, 0 0 30px #fff30f, 0 0 40px red, 0 0 50px #fff30f;
}
}
@keyframes skew {
  0% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
  }
  100% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }
}
