<div class="container">
<!--
   <div class="wrappromos">

        <div class="wrap1">
             <p class="parracentro">Exclusivo en este sitio</p>
             <div class="wrapinterno">
                 <p class="exclusivo">Lunes</p>
                 <p class="descuento">10%</p>
                 <p class="seguncompra">compra mayor a $1000</p>
             </div>
        </div>
    
        <div class="wrap1">
            <p class="parracentro">Siendo socio</p>
            <div class="wrapinterno">
                <p class="exclusivo">Domingos</p>
                <p class="descuento">5%</p>
                <p class="seguncompra">compra mayor a $500</p>
            </div>
       </div>
    
    </div>
    
-->


<div class="module top">
    <h2>Exclusivo <span class="dia">Lunes</span></h2>
    
    <div class="wrapint">
        <p class="compra">Compra mayor a  <span class="preciochico">$1000</span></p>
        <p class="desc">10<span>%</span></p>
    </div>
    
  </div>
  
  <div class="module mid">
    <p class="envio">Envio</p>
    <h2>gratis</h2>
    <p class="mayormil">compra mayor a<span class="preciochico">$700</span> </p>
  </div>
   
  
  <div class="module cap chau">
    <p>Skyscraper are really neat and stuff because they are tall.</p>
  </div>
   
</div>

