 @import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,300;1,500&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Bungee'); 

.wrapmessage{
    padding-top: 20px;
    display: flex;flex-direction: column;
   align-items: center;text-align: center;
background-color: #a2a2a2;;
font-family: 'Roboto', sans-serif;
} 
.lineasegunda{
    font-size: 44px;
    color: orangered;
    font-family: 'Bungee' ;
    text-shadow : 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
 }
.lineatercera{
    color: whitesmoke;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
  padding-top: 5px;
    font-family: 'Indie Flower', cursive;
}

/*------------*/
 
/* Floating Social Media Bar Style Starts Here */

.fl-fl {
    background: #a2a2a2;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  
   .fab {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
  }
  
  .fl-fl:hover {
    right: 0;
  }
  
  .fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
     
  }
  
  .float-fb {
    top: 160px;background-color:blue; 
  }
  
  .float-tw {
    top: 215px;background-color:lightskyblue;
  }
  
  .float-gp {
    top: 270px;background-color:red;
  }
   .fa-facebook,.fa-twitter,.fa-instagram{
      position: relative;right:6px;
   }