@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Potta+One&display=swap');

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
/* ----Products-----*/
 
  .container{background-color: #ddd;}
  .wrapper{
    max-height: 250px;
    background-origin: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
  }
  .wrapper::-webkit-scrollbar{
   width: 0;
  }
  .wrapper .item{
   min-width: 160px;height: 240px;
   text-align: center;
   background-color: white;
   margin-right: 9px;
  }

  .item{
    display: grid;grid-template-rows:80% 20%;}

  .item img{width: 150px; height: 100%;}
  /*-----Destacados-----*/
  .wrapdestacado{display: flex;justify-content: space-between;
  margin: 10px;}

  .titudestacado{font-size: 1.2rem; 
  padding-top: 9px;}
/*-------------Promos------*/
.wrappromos{
display: grid;
grid-template-columns: 40% 60%;
border-radius: 5%;
margin-top: 6px; padding-bottom: 30px;
padding-left: 150px;padding-right: 150px;
}
.wrap1{
color: whitesmoke; background-color: #451e89;
display: flex;flex-direction: column;justify-content: center;text-align: center;
}
.lado1{display: flex;justify-content: center;}

.lado2{font-family: 'Indie Flower', cursive;font-size: 2rem;}

  .lado1a p{
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
  }
  .lado1b{
    font-size: 2rem;
  }

  .wrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: center;

background-color: whitesmoke;
  }
.desc1 h2{
    color:black;
    font-family: 'Indie Flower', cursive;
    margin-top: 0.3rem;
}
.desc3{
    font-size: 0.7rem;
    line-height: 0.8rem;
    font-style: italic;font-family: Roboto;
}
#email_input{
  margin-left: 4px;
}
/*---------Destacados----------------*/


.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 2rem;
  line-height: 2rem;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

/*------------------------*/
.btnmio a{color: ivory; text-decoration: none;
background-color: #451e89;padding: 10px 20px;border-radius: 5%;}


@media screen and (max-width: 819px) {
  .wrappromos{
    padding-left: 5px;padding-right: 10px;
    grid-template-columns: 30% 70%;
    }
  .wrapper .item{
      min-width: 150px;height: 180px;
     margin-right:5px;
     border-radius: 10%;
    
     }

  .lado1a p{ font-size: 3rem;}
  .lado2{font-size: 1rem;}
  
.neon {font-size:1.4rem;}

.lado2 p{
font-size: 2.3rem;
}
.desc1 h2{
  color:black;
  font-family: 'Indie Flower', cursive;
  margin-top: 0.3rem;font-size: 1.4rem;line-height: 1.3rem;
  font-weight: 600;;
}
.desc3{
  font-size: 0.6rem;font-style: italic; padding: 0  10px;
}
.btnmio {width: 120px;align-self: center;}
  }



