<div class="container"> 

    <div class="wrapslider">
        <div class="dividedos1">
            
            <app-slider></app-slider>
        </div>
        <div class="dividedos2">
            <div class="pri"></div>
            <div></div>
        </div>
    </div>

<app-message></app-message>
<app-products></app-products>
 </div>
<div class="container">
 
    <div class="wrapdestacado mt-4"><div class="neon">GALLETITAS</div></div> 
 <!--

<div class="wrapper" *ngIf="posts$ | async as posts; else loading" >

        <div  *ngFor="let post of posts">
                <div class="item" *ngIf="post.contentPost == 'Dulces'">
                   
                  <img [src]="post.imagePost" >
                  <h2 class="precio"> <a [routerLink]="['/posts', post.id]">
                      ${{post.precio}} 
                  </a></h2>
              </div>
      </div>

    </div>   
 -->
    
      
    <div class="wrapbtn">
     
     <div class="btnmio"><a [routerLink]="['/vermas']">Ver todos</a> </div>
  
    </div>
  
   
    <div class="wrapdestacado  mt-4"><div class="neon">BEBIDAS</div> </div>
 <!--
  <div class="wrapper" *ngIf="posts$ | async as posts; else loading" >

        <div  *ngFor="let post of posts">
                <div class="item" *ngIf="post.contentPost == 'alcohol'">
                    <img [src]="post.imagePost" >
                    <h2> <a [routerLink]="['/posts', post.id]">
                        ${{post.precio}} 
                    </a></h2>
                </div>
        </div>
    </div> 
    

 --> 

  
    <div class="wrapbtn"><div class="btnmio"><a [routerLink]="['/vermas']">Ver todos</a> </div></div>
     
     <div class="wrapdestacado  mt-4"><div class="neon">HELADOS</div> </div>
  
     <div class="wrapdestacado  mt-4"><div class="neon">LIMPIEZA</div> </div>
  
     <div class="wrapdestacado  mt-4"><div class="neon">GOLOSINA</div> </div>
<!------------PROMOS PROMOS--------->  
<!------------PROMOS PROMOS--------->  
<!--
 <div class="wrappromos pb-3">

        <div class="wrap1 ">
            
            <p  class="lado1a">10%</p> 
                
            
            <div class="lado2">
                compra mayor a $800
            </div>
        </div>

        <div class="wrap2">
                <h2  class="desc1">Ingresa tu email y disfruta!</h2> 
            
                <label for="email_input">email: </label>
                <input type="email" name="email" id="email_input" placeholder="Tu correo">
            
            <div class="desc3">Para aprovechar esta oferta debe ingresar su correo. EXCLUSIVO solo para clientes</div>
        </div>

    </div>
-->
<!-------FIIIIN-----PROMOS PROMOS--------->  
   
   
</div>

<ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
</ng-template>

<div class="title"><h1>Gracias<br/>por visitarnos</h1></div>
