<div class="container">
  <div class="wrapslider">
    <div class="dividedos1">
      <app-slider></app-slider>
    </div>
    <div class="dividedos2">
      <div class="pri">
        <section class="ticketHolder">
          <div class="coupon">
            <div class="inner">
              <div class="savings">Ahorre $100</div>
              <div class="reveal">
                <div>Código:</div>
                <div class="couponCode">DGS2</div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="segu"></div>
    </div>
  </div>

  <app-message></app-message>
  <!--<app-products></app-products>-->

  <div class="wrapdestacado mt-4"><div class="neon">GALLETITAS</div></div>

  <div class="wrapbtn">
    <div class="btnmio"><a [routerLink]="['/vermas']">Ver todos</a></div>
  </div>

  <div class="wrapdestacado mt-4"><div class="neon">BEBIDAS</div></div>

  <div class="wrapbtn">
    <div class="btnmio"><a [routerLink]="['/vermas']">Ver todos</a></div>
  </div>

  <div class="wrapdestacado mt-4"><div class="neon">HELADOS</div></div>

  <div class="wrapdestacado mt-4"><div class="neon">LIMPIEZA</div></div>

  <div class="wrapdestacado mt-4"><div class="neon">GOLOSINA</div></div>
</div>

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div class="title">
  <h1>Gracias<br />por visitarnos</h1>
</div>
