<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/po1.jpg" alt="Random first slide" style="width: 100%; height: 28vh; filter: contrast(80%);">
      </div>
      <div class="carousel-caption">
        <h3>COMPRE DESDE CASA</h3>
        <p><span>Elige delivery o retirarlo en el local, y el horario de entrega.</span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/po2.jpg" alt="Random second slide" style="width: 100%; height:28vh;filter: contrast(80%);">
      </div>
      <div class="carousel-caption">
        <h3>Ahorras más</h3>
        <p><span>Ahorra hasta un 20% en tus compras.</span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/po4.jpg" alt="Random third slide" style="width: 100%; height:28vh;filter: contrast(80%);">
      </div>
      <div class="carousel-caption">
        <h3>Descuentos y promos</h3>
        <p><span>Validos por 5 días</span></p>
      </div>
    </ng-template>
  </ngb-carousel>
