<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/casa5.jpg" alt="Random first slide" style="width: 100%; height: 28vh; filter: contrast(80%);">
      </div>
      <div class="carousel-caption">
        <h3>Compre desde su casa</h3>
        <p><span>Elige delivery o retirarlo en el local.</span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/casa2.jpg" alt="Random second slide" style="width: 100%; height:28vh;filter: contrast(80%);">
      </div>
      <div class="carousel-caption">
        <h3>Vea todos los precios y descuentos</h3>
        <p><span>Acceda a todos los productos y compre en el carrito </span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/casa1.jpg" alt="Random third slide" style="width: 100%; height:28vh;filter: contrast(80%);">
      </div>
      <div class="carousel-caption">
        <h3>Chat directo con clientes</h3>
        <p><span>Acceda al chat online aqui, o via redes.</span>

        </p>
      </div>
    </ng-template>
  </ngb-carousel>
   
